@import "../../utils/styles/variables.scss";
.navbar {
	&.flex {
		position: fixed;
		justify-content: space-between;
		gap: 1rem;
	}

	width: 100%;
	padding: 1rem;
	z-index: 6000;
	top: 0;
	transition: all 0.2s;

	ul {
		list-style: none;
		padding: 1rem;

		li {
			font-size: 1.8rem;
			display: inline-block;
			margin: 0.5rem;
			padding: 0.5rem;
			position: relative;
			&:hover {
				a {
					color: $primary-color;
				}
			}
		}
	}
	img {
		width: 2rem;
	}
	#navbar-brand {
		color: inherit;
		font-size: 2.2rem;
		position: relative;
		padding: 1rem;
		&:hover {
			color: $primary-color;
		}
	}
	.slider-container {
		position: relative;
		width: 2.8rem;
		height: 2rem;
		background-color: $light;
		border: 0.2rem solid $dark;
		bottom: 0.2rem;
		padding: 0;

		#slider {
			position: absolute;
			display: block;
			top: -0.1rem;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background-color: $primary-color;
			border: 0.2rem solid $dark;
			cursor: pointer;
			transition: all 0.5s;
		}
	}
}

@media screen and (max-width: 500px) {
	.navbar {
		flex-direction: column;
	}
}
