@import "./variables.scss";
.no-show {
	display: none;
}
.show {
	display: initial;
}
.on-light {
	transform: translateX(1rem);
}
.on-dark {
	transform: translateX(-1rem);
}
.default-fill {
	fill: $primary-color;
}
.light-fill {
	fill: $light;
}
.light-fill2 {
	fill: $light-fill;
}
.dark-fill {
	fill: $dark;
}
.primary-color {
	color: $primary-color;
}
.light-color {
	color: $dark;
}
.dark-color {
	color: $light;
}
.bg-light {
	background-color: $light;
}
.bg-dark {
	background-color: $dark;
}
.border-bottom {
	border-bottom: 0.3rem solid $light;
}
.border-bottom-light {
	border-bottom: 0.3rem solid $dark;
}
.border-top {
	border-top: 0.3rem solid $light;
}
.border-top-light {
	border-top: 0.3rem solid $dark;
}
.border {
	border: 0.4rem solid;
}
.border-light {
	border: 0.4rem solid black;
}
.round-border {
	border-radius: 2rem;
}

@keyframes scrollDown {
	0% {
		top: 80%;
	}
	100% {
		top: 90%;
	}
}
