@import "../../utils/styles/variables.scss";
.about {
	width: 100%;
	height: 100%;
	padding: 1rem;
	transition: all 0.2s;
	z-index: 20;
	position: relative;
	overflow: hidden;

	.morph,
	.morph1 {
		position: absolute;
		top: 43.6vh;
		max-width: 210rem;
	}
	.morph {
		right: 64vw;
	}

	.morph1 {
		left: 63vw;
	}

	.heading {
		padding: 2rem;
		font-size: 6rem;
	}

	&-me {
		position: relative;
		width: 100%;
		height: 50%;
		max-width: 80vw;
		gap: 10rem;
		z-index: 10;
		padding: 2rem;

		#aboutMe {
			position: absolute;
			font-size: 3rem;
			width: 100%;
			z-index: 1;
			bottom: 20%;
			right: 50%;
			background-color: $light;
			box-shadow: 0 0 0.5rem 0.5rem $primary-color;
			padding: 2rem;
			text-align: justify;
			border: 1rem solid $light;
			border-radius: 5rem;
			opacity: 0;
			transition: all 0.2s;
			visibility: hidden;
			color: $dark;

			&::before {
				content: "";
				filter: drop-shadow(0.5rem 0rem 0.3rem $primary-color);
				display: block;
				width: 10rem;
				height: 10rem;
				background-color: $light;
				border-radius: 5rem;
				position: absolute;
				right: -11%;
				bottom: 42%;
				z-index: -2;
			}

			&::after {
				content: "";
				filter: drop-shadow(0.5rem 0.1rem 0.3rem $primary-color);
				display: block;
				width: 5rem;
				height: 5rem;
				background-color: $light;
				border-radius: 5rem;
				position: absolute;
				right: -15%;
				bottom: 45%;
				z-index: -1;
			}
		}

		.about-me-img {
			&:hover {
				#aboutMe {
					display: inline-block;
					right: 60%;
					opacity: 1;
					visibility: visible;
				}

				& ~ .about-me-mern {
					p {
						width: 100%;
						color: $primary-color;
						span {
							display: inline;
							opacity: 1;
							position: relative;
							visibility: visible;
						}
					}
				}
			}
		}

		&-mern {
			transition: all 0.5s linear;
			min-width: 25rem;
			z-index: 100;

			p {
				position: relative;
				text-align: center;
				padding: 2rem;
				margin: 2rem auto;
				font-size: 4rem;
				font-family: "Russo One", cursive;
				transition: all 0.5s;
				width: 40%;
				cursor: default;

				span {
					display: inline;
					opacity: 0;
					visibility: hidden;
					transition: all 0.15s;
					width: 100%;
					text-align: center;
					position: absolute;
					left: 0rem;
				}

				&:hover {
					width: 80%;
					color: $primary-color;

					span {
						display: inline;
						opacity: 1;
						visibility: visible;
						position: relative;
						color: $primary-color;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1118px) {
	.about {
		.heading {
			margin-bottom: 15rem;
		}
		.my-img {
			cursor: default;
			filter: contrast(300%) brightness(100%)
				drop-shadow(0rem 0rem 1rem $primary-color);
		}
		&-me {
			flex-direction: column;
			max-width: 100%;
			#aboutMe {
				bottom: 58%;
				right: 50%;
			}
			& &-img {
				padding: 5rem;

				&:hover {
					#aboutMe {
						display: inline-block;
						right: 50%;
					}

					& ~ .about-me-mern {
						p {
							width: 10rem;
						}
					}
				}
				&.flex {
					flex-direction: row-reverse;
				}

				& ~ .about-me-mern {
					flex-direction: row;
					gap: 1rem;
					width: 100%;
					bottom: 1.5rem;
					padding: 0 2rem;
					flex-wrap: wrap;

					p {
						width: 10rem;
						font-size: 2rem;
						color: $primary-color;
						span {
							font-size: 2rem;
							opacity: 1;
							visibility: visible;
							position: relative;
						}
					}
				}
				#aboutMe {
					right: 30rem;
					opacity: 1;
					width: 50%;
					font-size: 1.6rem;
					visibility: visible;

					&::after {
						right: -20%;
						bottom: 50%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.about {
		.heading {
			position: relative;
			top: -10vh;
			margin: 0;
		}
		& &-me {
			gap: 0;
			padding: 1rem;
			align-items: initial;
			&-img {
				&:hover {
					#aboutMe {
						right: 0;
					}
				}
				& ~ .about-me-mern {
					padding: 0;
				}
				#aboutMe {
					position: relative;
					right: 0;
					bottom: 0;
					width: 100%;
					&::after,
					&::before {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
			.my-img {
				display: none;
			}
		}
	}
}
