.projects {
	position: relative;
	transition: all 0.2s;
	z-index: 50;
	width: 100%;
	padding: 0 1rem;
	&-apps {
		width: 100%;
		z-index: 10;
		gap: 1rem;
		&.container {
			min-height: 100vh;
			height: 100%;
		}

		&-imgLink {
			cursor: default;
			z-index: 5;
			width: 50%;
			max-width: 50rem;
			margin-bottom: 5rem;
		}

		.heading {
			position: relative;
			background-color: #070707;
			border-radius: 2rem;
			padding: 2rem;
			margin: 5rem;
			border: 2px solid #070707;
		}

		.my-img {
			width: 100%;
			&:hover {
				filter: contrast(300%) brightness(100%)
					drop-shadow(0rem 0rem 1rem #7fff00);
			}
			filter: contrast(100%) brightness(50%);
			z-index: 10;
		}

		&-cards {
			z-index: 10;
			width: 100%;
			padding: 1rem;
			flex-wrap: wrap;
			gap: 3rem;
			margin-bottom: 5rem;
		}
	}
}
.morph2,
.morph3 {
	position: absolute;
	z-index: 1;
	opacity: 1;
	width: 100%;
}
.morph2 {
	top: 0;
	transform: rotate(180deg);
}
.morph3 {
	bottom: 0;
}

@media screen and (max-width: 1380px) {
	.projects-apps .my-img {
		filter: contrast(300%) brightness(100%) drop-shadow(0rem 0rem 1rem #7fff00);
	}
}
