@import "../../utils/styles/variables.scss";
.header {
	position: fixed;
	padding: 2rem 0;
	width: 100%;
	height: 100%;
	transition: all 0.2s;
	img {
		position: absolute;
		left: -50%;
		width: clamp(70rem, 50%, 80%);
		filter: contrast(300%);
	}
	svg {
		width: 100%;
		height: 80%;
		z-index: 20;
		filter: saturate(250%);
	}
	h1,
	h2 {
		position: absolute;
		padding: 1rem;
		text-align: center;
		z-index: 1000;
		cursor: default;
		transition: all 0.2s linear;
	}
	h1 {
		top: 45%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 32rem;
		opacity: 0;
	}
	h2 {
		right: 0;
		bottom: -20rem;
		margin: 3rem;
	}
	.arrow {
		animation: scrollDown 1s ease-in-out infinite alternate;
	}
}
